<h1>New Article</h1>

<%# This line tells the helper with the this form is for "article" 
%>
<%= form_with scope: :article, url: articles_path, local: true do |form| %>
    <p>
        <%= form.label :title %>
        <%= form.text_field :title %>
    </p>

    <p>
        <%= form.label :text %><br>
        <%= form.text_area :text %>
    </p>

    <p>
        <%= form.submit %>
    </p>
<% end %>